In [0]:
from pyspark.sql import Row
import random

indian_first_names = [
    "Aarav", "Vivaan", "Aditya", "Vihaan", "Arjun", "Sai", "Reyansh", "Ayaan", "Krishna", "Ishaan",
    "Shaurya", "Atharv", "Dhruv", "Kabir", "Ritvik", "Aarush", "Aryan", "Ansh", "Om", "Rudra",
    "Advait", "Yuvaan", "Arnav", "Laksh", "Devansh", "Parth", "Darsh", "Veer", "Ayan", "Rohan",
    "Samar", "Pranav", "Manav", "Vihaan", "Kiaan", "Aadi", "Aarush", "Aarav", "Ayaan", "Ishaan",
    "Anaya", "Siya", "Aadhya", "Pari", "Anika", "Navya", "Myra", "Aarohi", "Saanvi", "Prisha",
    "Diya", "Aaradhya", "Ira", "Anvi", "Meera", "Ishita", "Vanya", "Sara", "Riya", "Aanya",
    "Mishka", "Kiara", "Tara", "Aanya", "Amaira", "Anvi", "Aarohi", "Aadhya", "Saanvi", "Anaya",
    "Vivaan", "Aarav", "Aditya", "Vihaan", "Arjun", "Sai", "Reyansh", "Ayaan", "Krishna", "Ishaan",
    "Shaurya", "Atharv", "Dhruv", "Kabir", "Ritvik", "Aarush", "Aryan", "Ansh", "Om", "Rudra",
    "Advait", "Yuvaan", "Arnav", "Laksh", "Devansh", "Parth", "Darsh", "Veer", "Ayan", "Rohan",
    "Samar", "Pranav", "Manav", "Vihaan", "Kiaan", "Aadi", "Aarush", "Aarav", "Ayaan", "Ishaan",
    "Anaya", "Siya", "Aadhya", "Pari", "Anika", "Navya", "Myra", "Aarohi", "Saanvi", "Prisha",
    "Diya", "Aaradhya", "Ira", "Anvi", "Meera", "Ishita", "Vanya", "Sara", "Riya", "Aanya",
    "Mishka", "Kiara", "Tara", "Aanya", "Amaira", "Anvi", "Aarohi", "Aadhya", "Saanvi", "Anaya",
    "Raj", "Rahul", "Amit", "Vikas", "Suresh", "Ramesh", "Sunil", "Akhil", "Deepak", "Sanjay",
    "Pooja", "Priya", "Neha", "Sneha", "Kiran", "Ritu", "Swati", "Shreya", "Nisha", "Divya",
    "Kavya", "Rashmi", "Anjali", "Preeti", "Komal", "Simran", "Payal", "Sheetal", "Megha", "Nidhi",
    "Harsh", "Gaurav", "Abhishek", "Rajat", "Aman", "Kunal", "Nitin", "Siddharth", "Vivek", "Yash",
    "Akash", "Rohit", "Sandeep", "Tarun", "Varun", "Vishal", "Ankit", "Mayank", "Shubham", "Sumit"
]

indian_last_names = [
    "Sharma", "Verma", "Singh", "Patel", "Kumar", "Reddy", "Nair", "Gupta", "Mehta", "Jain",
    "Agarwal", "Chopra", "Joshi", "Kapoor", "Bhat", "Das", "Chatterjee", "Banerjee", "Ghosh", "Mishra",
    "Pandey", "Tripathi", "Srivastava", "Dubey", "Yadav", "Rana", "Saxena", "Sethi", "Malhotra", "Sinha",
    "Rao", "Menon", "Pillai", "Shetty", "Naidu", "Desai", "Kulkarni", "Deshmukh", "Patil", "Sawant",
    "Choudhary", "Bhatt", "Tiwari", "Shukla", "Dwivedi", "Pathak", "Chauhan", "Rawat", "Negi", "Bisht",
    "Kaur", "Gill", "Sandhu", "Dhillon", "Sidhu", "Ahluwalia", "Bedi", "Grover", "Sodhi", "Sethi",
    "Gupta", "Jain", "Agarwal", "Mehra", "Bansal", "Mittal", "Goel", "Chawla", "Suri", "Talwar",
    "Bajaj", "Kohli", "Sodhi", "Ahluwalia", "Bedi", "Grover", "Sodhi", "Sethi", "Gupta", "Jain",
    "Agarwal", "Mehra", "Bansal", "Mittal", "Goel", "Chawla", "Suri", "Talwar", "Bajaj", "Kohli",
    "Sharma", "Verma", "Singh", "Patel", "Kumar", "Reddy", "Nair", "Gupta", "Mehta", "Jain",
    "Agarwal", "Chopra", "Joshi", "Kapoor", "Bhat", "Das", "Chatterjee", "Banerjee", "Ghosh", "Mishra",
    "Pandey", "Tripathi", "Srivastava", "Dubey", "Yadav", "Rana", "Saxena", "Sethi", "Malhotra", "Sinha",
    "Rao", "Menon", "Pillai", "Shetty", "Naidu", "Desai", "Kulkarni", "Deshmukh", "Patil", "Sawant",
    "Choudhary", "Bhatt", "Tiwari", "Shukla", "Dwivedi", "Pathak", "Chauhan", "Rawat", "Negi", "Bisht"
]

departments = [
    "Engineering", "HR", "Finance", "Marketing", "Sales", "Support", "IT", "Admin", "Legal", "Operations"
]

def generate_email(first, last, idx):
    return f"{first.lower()}.{last.lower()}{idx}@company.in"

random.seed(42)
used_names = set()
employees = []
i = 1
while len(employees) < 200:
    first = random.choice(indian_first_names)
    last = random.choice(indian_last_names)
    name_key = (first, last)
    if name_key in used_names:
        continue
    used_names.add(name_key)
    employees.append(Row(
        employee_id=i,
        first_name=first,
        last_name=last,
        department=random.choice(departments),
        salary=random.randint(30000, 150000),
        email=generate_email(first, last, i)
    ))
    i += 1

employee_df = spark.createDataFrame(employees)
display(employee_df)

In [0]:
# To print schema
# employee_df.schema
# or
employee_df.printSchema()

This is the example for Markdown

In [0]:
from pyspark.sql.functions import col,expr

emp_nm=employee_df.filter(col("first_name").like("A%")).display()

In [0]:
from pyspark.sql .functions import col,expr
# slctd_cols=employee_df.select(col("first_name"),col("last_name")).limit(5).orderBy(col("first_name").asc()).filter(col("first_name").like("L%"))
slctd_cols=employee_df.selectExpr("first_name","last_name").limit(5).orderBy(col("first_name").asc()).filter(col("first_name").like("L%"))
slctd_cols.display()

In [0]:
onlyslctd=employee_df.select(col("First_name"),col("department"))
slctd=employee_df
onlyslctd.display()

In [0]:
# employee_df.show()
employee_df.printSchema()

In [0]:
new=employee_df.withColumn("sal", col("salary").cast("int")).withColumn("emp_id",col("employee_id").cast("string"))
new.show()

In [0]:
# To add a new column like (1 as newcolumn)
from pyspark.sql.functions import lit
new_col_emp=employee_df.withColumn("newcolumn",lit(1)).withColumn("newcolumn2",lit(3))
new_col_emp.display()

In [0]:
# To add multiple columns like simply create a dictinary and pass it
columns={
    "newcolumn":col("salary")*0.9,
    "newcolumn2":lit(3),
    "newcolumn3":lit("two")
    }
new_col=new_col_emp.withColumns(columns)
new_col=new_col.withColumn("newcolumn",col("newcolumn").cast("int"))
# new_col.display(5)
new_col.show(5)

In [0]:
# Renaming columns
fstnme_renamed=new_col_emp.withColumnRenamed("first_name","Modathi_peru")
fstnme_renamed.display()

In [0]:
# To rename multiple columns
from pyspark.sql.functions import col
drop_col=new_col_emp.drop("newcolumn","newcolumn2")
drop_col.show()

In [0]:
drop_col.count()

In [0]:
drop_col.write.format("csv").save("dbfs/raja24feb/drop_col")